## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(0,100), k=80)    
print(sample_list_1)

[38, 2, 35, 40, 25, 93, 96, 17, 91, 48, 44, 7, 47, 22, 42, 55, 71, 18, 46, 99, 92, 50, 62, 70, 58, 37, 65, 51, 1, 64, 0, 3, 19, 69, 31, 24, 14, 34, 79, 39, 26, 67, 36, 59, 10, 5, 11, 32, 68, 60, 74, 89, 72, 27, 76, 86, 53, 66, 73, 82, 29, 49, 78, 41, 90, 21, 87, 28, 80, 16, 88, 20, 57, 97, 8, 56, 33, 61, 81, 95]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print("Lenght of set1:",len(set1))

Lenght of set1: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []
for _ in range(0,80):
    sample_list_2.append(random.randint(0,100))

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print("Length of set2:", len(set2))

Length of set2: 58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1 - set2

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2 - set1

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
print("The assumption is that the relationship is that the length of the union between 'set1' and 'set2' is equal " +
      "to the sum of the length of 'set3', 'set4' and 'set5'")
if len(set1.union(set2)) == len(set3) + len(set4) + len(set5):
       print("The assumption is correct.")
else:
       print("You failed.")

The assumption is that the relationship is that the length of the union between 'set1' and 'set2' is equal to the sum of the length of 'set3', 'set4' and 'set5'
The assumption is correct.

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
print("Set1 contains set2:", set2.issubset(set1))
print("Set1 contains set3:", set3.issubset(set1))

Set1 contains set2: False
Set1 contains set3: True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
set_a = set()
set_b = set()

set_a.union(set3, set4, set5)
set_b.union(set1, set2)

print("The values are equal:", set_a == set_b)

The values are equal: True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
x = set1.pop()
print(x)

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for item in list_to_remove:
    if item in set1:
        set1.remove(item)
print(set1)

{2, 3, 5, 7, 8, 10, 14, 16, 17, 18, 20, 22, 24, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 38, 40, 42, 44, 46, 47, 48, 50, 53, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 70, 72, 73, 74, 76, 78, 80, 82, 86, 87, 88, 90, 92, 93, 95, 96, 97}