# Before your start:
- Comment as much as you can
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [2]:
# Your code here:
def counter(lst):
    count = 0
    for item in lst:
        count +=1
    return count

test_list = [1,2,3,4,5,6]

print(counter(test_list))

6

Create a function that returns the mean of a list of numbers

In [3]:
# Your code here:
def calculate_mean(lst):
    #return sum(lst)/len(lst)
    total_sum = 0
    for item in lst:
        total_sum += item
    return total_sum/counter(lst)

test_list = [1,2,3,4,5,6]
print(calculate_mean(test_list))

3.5

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [4]:
# Your code here:
import math
import statistics

def std_deviation(lst):
    mean = calculate_mean(lst)
    sq_dif = []
    for item in lst:
        sq_dif.append((item-mean)**2)
    variance = calculate_mean(sq_dif)
    return math.sqrt(variance)

test_list = [1,2,3,4,5,6]

print(std_deviation(test_list))
print(statistics.pstdev(test_list))

1.707825127659933
1.707825127659933

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [5]:
# Your code here:
def count_mean_stdev(lst):
    '''
    Return the count of elements, the mean and standard deviation of a given list.
    
    Parameter:
        lst (list): The list which will be subject to the calculations - count of elements, mean and standard deviation.
            
    Returns:
        (tuple) The values for the count of elements, the mean and the standard deviation of the list.
        
    >> count_mean_stdev([1,2,3,4,5,6])
    (6, 3.5, 1.707825127659933)
    
    '''
    
    # Imports math module to calculate the square root of the variance
    import math
    
    # Variables initialization
    num_of_elements = len(lst)
    total_sum = sum(lst)
    sq_dif = []
    
    # Calculates the mean of the list
    mean = total_sum/num_of_elements
    
    # Calculates the variance of the list
    for item in lst:
        sq_dif.append((item-mean)**2)
    
    variance = sum(sq_dif)/len(sq_dif)
    
    # Calculates the standard deviation of the list
    standard_deviation = math.sqrt(variance)
    
    # Returns the result - count (number of elements), mean and standard deviation, respectively
    return num_of_elements, mean, standard_deviation

test_list = [1,2,3,4,5,6]

number_of_elements, mean, standard_deviation = count_mean_stdev(test_list)
result = count_mean_stdev(test_list)
print(number_of_elements, mean, standard_deviation)
print(result)

6 3.5 1.707825127659933
(6, 3.5, 1.707825127659933)

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [6]:
# Your code here:
def string_cleaning(str1):
    import re
    lower_case = str1.lower()
    first_clean = re.sub('[^a-z0-9\s\n]','',lower_case)
    words_list = [word for word in first_clean.split()]
    words_list.sort()
    final_string = ' '.join(words_list)
    return final_string

my_string = 'Carro Azul, Branco - vermelho!'

print(string_cleaning(my_string))

azul branco carro vermelho

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [7]:
# Your code here:
def classify_income(income):
    import math
    income_ranges = [('Classe Baixa Baixa', 0.00, 1980.00),
                    ('Classe Baixa Média', 1980.00, 2862.00),
                    ('Classe Baixa Alta', 2862.00, 5724.00),
                    ('Classe Média Baixa', 5724.00, 9540.00),
                    ('Classe Média Média', 9540.00, 14310.00),
                    ('Classe Média Alta', 14310.00, 23850.00),
                    ('Classe Alta', 23850.00, math.inf)]
    r_list = [r for r in income_ranges if r[1] <= income < r[2]]
    classification, min_income, max_income = r_list[0]
    return classification

income = 5000000
print(classify_income(income))

Classe Alta

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [8]:
# Your code here:
def ask_age():
    age = -1
    age_str = input('Please enter your age: ')
    try:
        age = int(age_str)
    except ValueError:
        print('You did not enter a number.')
    
    if age < 0 or age > 150:
        ask_age()
    
ask_age()

Please enter your age: sdgsjhgsd
You did not enter a number.
Please enter your age: -33
Please enter your age: 152
Please enter your age: 33

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order  

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [9]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

def sort_alphabetical(str1):
    temp_list = [word for word in str1.split(', ')]
    temp_list.sort()
    return ' '.join(temp_list)

print(sort_alphabetical(buzz))

AI Big Data Data Warehouse Machine Learning Pipeline

Make a function without return that modifies the buzz string and puts it in alphabetical order

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [10]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

def sort_alphabetical_global():
    global buzz
    temp_list = [word for word in buzz.split(', ')]
    temp_list.sort()
    buzz = ' '.join(temp_list)
    
print(buzz)
sort_alphabetical_global()
print(buzz)

Big Data, Machine Learning, AI, Data Warehouse, Pipeline
AI Big Data Data Warehouse Machine Learning Pipeline

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [11]:
import pandas as pd

In [12]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

Expected output:

|    |   sepal_length |   sepal_width |   petal_length |   petal_width |
|---:|---------------:|--------------:|---------------:|--------------:|
|  0 |            5.1 |           3.5 |            1.4 |           0.2 |
|  1 |            4.9 |           3   |            1.4 |           0.2 |
|  2 |            4.7 |           3.2 |            1.3 |           0.2 |
|  3 |            4.6 |           3.1 |            1.5 |           0.2 |
|  4 |            5   |           3.6 |            1.4 |           0.2 |

In [13]:
# Your code here:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

Expected output:
````python
sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64
````

In [14]:
np.mean(iris_numeric)

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

Expected output:
````python
sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64
````

In [15]:
np.std(iris_numeric)

sepal_length    0.276405
sepal_width     0.291376
petal_length    0.102470
petal_width     0.074833
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [16]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    rate = 0.393701
    return x * rate

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [17]:
# Your code here:

iris_inch = iris_numeric.apply(cm_to_in)

iris_inch.head()

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [18]:
# Define constant below:
CONST_ERROR = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    global CONST_ERROR
    return x + CONST_ERROR

iris_constant = iris_numeric.apply(add_constant)

iris_constant

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2
5           7.4          5.9           3.7          2.4
6           6.6          5.4           3.4          2.3
7           7.0          5.4           3.5          2.2
8           6.4          4.9           3.4          2.2
9           6.9          5.1           3.5          2.1

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [19]:
# Your code here:
def max_value(row):
    # This function computes the maximum value
    print(f'Max value of row {max(row)}')

iris_numeric.apply(max_value, axis=1)

Max value of row 5.1
Max value of row 4.9
Max value of row 4.7
Max value of row 4.6
Max value of row 5.0
Max value of row 5.4
Max value of row 4.6
Max value of row 5.0
Max value of row 4.4
Max value of row 4.9

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
dtype: object

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [20]:
# Your code here:
def compute_sum(x,y):
    # This function calculates the sum of two columns
    return x + y

iris_numeric['total_length'] = iris_numeric.apply(lambda x : compute_sum(x['sepal_length'], x['petal_length']), axis=1)
iris_numeric['total_width'] = iris_numeric.apply(lambda x : compute_sum(x['sepal_width'], x['petal_width']), axis=1)

iris_numeric.head()

,sepal_length,sepal_width,petal_length,petal_width,total_length,total_width
0,5.1,3.5,1.4,0.2,6.5,3.7
1,4.9,3.0,1.4,0.2,6.3,3.2
2,4.7,3.2,1.3,0.2,6.0,3.4
3,4.6,3.1,1.5,0.2,6.1,3.3
4,5.0,3.6,1.4,0.2,6.4,3.8